html{
    background-color: lightblue;
    }
header{
    border: black 5px solid;
    margin: 5px;
}
.name{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    border: black 5px solid;
    margin: 5px;
}
.name h1 {
    background-color: greenyellow;
    display: block;

}
nav ul{
border: black 5px solid;
margin: 5px;
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.aboutme{
    display:flex;
    flex-direction: row;
    border: black 5px solid;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.skills {
    border: black 5px solid;
    margin: 5px;
}
#bio{
    border: black 5px solid;
    margin: 5px;
}
.skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: black 5px solid;
    margin: 5px;
}

.logo{
    max-width: 100px;
    max-height: 50px;
}

.flexcontainer{
    display: flex;
    border: black 5px solid;
    margin: 5px;
    justify-content: center;
    min-height: 600px;
}
.project-list-header{
    font-family: 'Oswald', sans-serif;
    border: black 5px solid;
    margin: 5px;
}
.project-list-content-right, .project-list-content-left{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
    border: black 5px solid;
    margin: 5px;
    font-family: 'Oswald', sans-serif;

}
