html{
    background-color: #B3B6C1;
    scroll-behavior: smooth;
    }
body{
    font-family: 'Oswald', sans-serif;
      
}
header{
border: black 2px solid;
margin: 0px;
}

.name{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 15px;
    opacity: 0.8;
}

.name h1 { 
    display: block;
}

nav ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-bottom: 5px;
justify-content: space-around;

}
    

.aboutme{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    max-width: 70%;
    height: auto;
    justify-content: flex-start;
    margin: 5px;
}
.placeholder-text {
    flex-wrap: wrap;
    max-width: 75%;
    margin: 10px;
      }



.aboutme figure{
    border: black 3px solid;
    width: fit-content;
    height: 100%;
}

.skills ul {
    display: flex;
    flex-direction: row;
    padding-top: 25px;   
    flex-wrap: wrap; 
}

.devlogo {
    max-width: auto;
    max-height: 100px;
}

.projlogo {
    max-width: auto;
    max-height: 150px;
   }

main {
    background-image: url("../pics/HTML_Background.jpg");
    background-size: cover;
    width: 100%;
    }

.project-list-header h1 {
 font-size: 26px;
 letter-spacing: 5px;
 }

.project-list-header{
    border: black 2px solid;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
    border: black 5px solid;
    justify-content: center;
    margin-bottom: 10px;
    
}

.horiseon{
    text-align: center;
}

.horiseon img {
   max-width: 75%; 
   max-height: 75%;

 }

 figcaption{
    color: rgb(255, 255, 255);
 }

.smaller-projects, .incomplete-projects {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
 


footer{
    list-style-type: none;
}
.contact{
    
    display: block;
    margin: auto;
    width: 50%;
    padding-left: 25px;
    list-style-type: none;
   }

.contact ul{
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 10px;
   
}

.contact p {
font-size: 32px;
text-align: center;
}

.attributions, .attributions li{
    font-size: 12px;
}